@{
    ViewBag.Title = "No Judgment";
}

<div class="container">
    <h2>No Judgments</h2>
    @Html.ActionLink("Purchase Judgment", "Index", "Commerce", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xlarge" })
</div>