<div id="home-top">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>Vehicula Elit Nullam</h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <p>Cras mattis consectetur purus sit amet fermentum.</p>
                <a href="../Account/Register" class="btn btn-primary btn-xlarge">Signup</a>
            </div><!-- .span3 -->
            <div class="span9" id="home-image">
                <img src="../../Images/macbook.png" alt="" />
            </div><!-- .span9 -->
        </div><!-- .row -->
    </div>
</div>
<div id="home-bottom">
    <div class="container">
        <div class="row">
            <div class="span3">
                <img src="../../Images/track-judgments.png" alt="" />
                <h4>Track Your Judgments</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
            </div> 
            <div class="span3">
                <img src="../../Images/easy-intuitive.png" alt="" />
                <h4>Easy & Intuitive</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
            </div> 
            <div class="span3">
                <img src="../../Images/fit-your-needs.png" alt="" />
                <h4>We Fit Your Needs</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
            </div> 
            <div class="span3">
                <img src="../../Images/judgment-price.png" alt="" />
                <h4>Just $ Per Judgment</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
            </div> 
        </div>
    </div>
</div>