<div id="home-top">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Track your Judgments</h3>
                <p>Are you owed money? Have you been awarded a judgment in court? Are you trying to keep up with the figures on multiple judgments? Keep up with all of your judgments with JudgmenTrac!</p>
                <p>JudgmenTrac is a simple online tool for managing your judgments. For a flat rate per judgment, you can have access to the information on each particular case in one central location. Always know where your money is with email alerts.</p>
                <a href="../Account/Register" class="btn btn-primary">Sign Up</a>
            </div><!-- .span3 -->
            <div class="span8" id="home-image">
                <img src="../../Images/macbook.png" alt="" />
            </div><!-- .span9 -->
        </div><!-- .row -->
    </div>
</div>
<div id="home-bottom">
    <div class="container">
        <div class="row">
            <div class="span3">
                <img src="../../Images/track-judgments.png" alt="" />
                <h4>Track Your Judgments</h4>
                <p>Follow along with updates, changes and new developments. Receive an email report when Judgment is 45, 30 and 15 days to expiration to stay in the loop.</p>
            </div> 
            <div class="span3">
                <img src="../../Images/easy-intuitive.png" alt="" />
                <h4>Easy & Intuitive</h4>
                <p>Utilize a simple interface to record all of your judgments. Keep the data at your fingertips and know where your payments are at all times.</p>
            </div> 
            <div class="span3">
                <img src="../../Images/fit-your-needs.png" alt="" />
                <h4>We Fit Your Needs</h4>
                <p>Record an unlimited amount of judgments. Maintain the same detailed information for each individual case.</p>
            </div> 
            <div class="span3">
                <img src="../../Images/judgment-price.png" alt="" />
                <h4>Just $@System.Configuration.ConfigurationManager.AppSettings["JudgmentAmount"] Per Judgment</h4>
                <p>Sign up for free! There are no subscriptions and no reoccurring fees. Only pay a flat rate for each judgment.</p>
            </div> 
        </div>
    </div>
</div>