@if (Request.IsAuthenticated) {
    <text>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Hello, Ben
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
      <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
    </ul>
  
    </text>
}