@{
    ViewBag.Title = "Purchase Judgments";
}

<div class="container">
    @using (Html.BeginForm("Purchase", "Commerce", FormMethod.Post))
    {
        <input type="hidden" name="judgment_price" id="judgment_price" value='@System.Configuration.ConfigurationManager.AppSettings["JudgmentAmount"]' />
        <p><label>Judgments to Purchase:</label> <input type="text" name="num_judgment" id="num_judgment" value="1" /></p>
        <p><label>Price:</label> <input type='text' name='x_amount' id='x_amount' value='@ViewBag.TotalPrice' readonly="readonly" /></p>
        <p><input type="submit" value="Checkout" class="btn btn-primary btn-xlarge" /></p>
    }
</div>

<script type="text/javascript">
    //$('#num_judgment').blur(function () {
    $('#num_judgment').change(function () {
        var totalPrice = parseInt($('#judgment_price').val()) * parseInt($('#num_judgment').val());
        $('#x_amount').val(totalPrice);
    });
</script>
 