@{
    ViewBag.Title = "What you get and what it costs";
}

<hgroup>
    <h2 class="title">@ViewBag.Title.</h2>
</hgroup>

<div id="page">
    <div class="container">
        <div class="pricing-container">
            <img src="../../Images/separator_top.png" class="separator-top" alt="" />
            <img src="../../Images/separator_bottom.png" class="separator-bottom" alt="" />    
            <div class="left">
                <div class="left-content">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet.
                    <br />
                    <br />
                    <ul>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                        <li>Ullamcorper Inceptos</li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                Anyone can sign up, and guess what? It’s free. There’s a simple, flat rate of just 20¢ per judgement. And we’ll hold on to it for seven years. That’s our guarantee. Or something like that.
                <br />
                <br />
                <img src="../../Images/price_slider.png" alt="" />
            </div>
        </div>
        <div class="signup">
            Free signup and only $0.20 per judgement.
            <a class="btn btn-primary btn-xlarge">Sign me up</a>
        </div>
    </div>
</div>