@model IEnumerable<Judgmentrac.Models.Payment>

<td colspan="2">&nbsp;</td>
<td colspan="5">
    @if (Model.Count() == 0)
    {
        <text>No Payments Yet</text>
    }
    else
    {
        <table>
            <tr>
                <td>Date</td>
                <td>Payment</td>
            </tr>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.PayDate.ToString("d")</td>
                <td>$@payment.Amount</td>
                <td>
                    @Html.Hidden("paymentID", @payment.ID)
                    <i class="icon-trash"></i>
                </td>
            </tr>
        }
        </table>
    }
</td>
<td colspan="2">
    <a href="/Payment/Create/@ViewBag.DisputeID" class="btn btn-primary">Add Payment</a>
</td>