@model Judgmentrac.Models.LocalPasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="container" id="manage-container">
    <div id="manageForm">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>

        <p class="message-success">@ViewBag.StatusMessage</p>

        @Html.Partial("_ChangePasswordPartial")
    </div>
</div>